.content {
    max-width: 640px;
    margin: 0px auto;
    padding: 2px 4px;
    font-weight: normal;
    text-shadow: none;
    font-size: 90%;
    font-family: default;
}
a,
.ui-body-b .ui-link,
.ui-body-b .ui-link:hover,
.ui-body-b .ui-link:visited {
    text-decoration: none;
    color: #36c;
}
.ui-body-b .ui-link {
    font-weight: normal;
}
.init {
    margin-top: 40px;
}
.loader {
    text-align: center;
}
#tweet {
    text-align: right;
}
#tweet .textlen {
    color: #fff;
    text-shadow: none;
    background-color: #999;
    padding: 4px 1em;
    border-radius: 4px;
}
#tweet .textlen.exceed {
    color: #c00;
    font-weight: bold;
}
#tweet .sending,
#tweet .error {
    text-align: center;
    padding: 1em 0px;
}
#tweet .sending img,
#tweet .error img {
    width:  16px;
    height: 16px;
    vertical-align: text-bottom;
}
.screen_name:before { content: '@'; }
.connecter {
    text-align: center;
    padding: 1em 0px;
}
.connecter img {
    width:  16px;
    height: 16px;
    vertical-align: text-bottom;
}
.status,
.account {
    background: #fff;
    margin: 1px 0px;
    padding: 4px;
    border-radius: 4px;
}
.status {
    color: #999;
}
.status.new {
    color: #000;
}
.status  > *,
.account > * {
    margin: 0px;
    margin-left: 56px;
}
.status  img.profile_image,
.account img.profile_image {
    margin-left: 0px;
    margin-bottom: 4px;
    width:  48px;
    height: 48px;
    border-radius: 4px;
    float: left;
}
.status  h2,
.account h2 {
    font-size: 1em;
}
.status  h2 .screen_name,
.account h2 .screen_name {
    color: #999;
    font-weight: normal;
}
.status .media {
    margin-left: 2px;
    width: 50px;
    clear: right;
    float: right;
}
.status .media img {
    width: 50px;
}
.status .date {
    font-style: italic;
    text-align: right;
    color:      #999;
}
.status .retweet {
    clear: both;
    margin-top: 0.5em;
}
.status .retweet img.profile_image {
    width:  16px;
    height: 16px;
    float:  none;
    vertical-align: middle;
}
.status:after { display: block; content: ''; clear: both; }
.account .description {
    margin-left: 0px;
    clear: left;
    border-top: solid 1px #ccc;
    padding-top: 4px;
}
